{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>

<!--

<h1>ヘッダー</h1> 最も重要性の高い見出し
<h2>サブのヘッダー</h2> その次のレベルの見出し
<h3>サブのサブのヘッダー</h3>... など<h6>まで

<p>文章の段落</p>

<em>文章</em>で文章を強調する
<strong>文章</strong>でさらに文章を強調する

<br>は改行(brタグの中には何も書いてはいけません。閉じタグも無しです)
<a href="https://djangogirls.org">リンク</a> はリンクを生成します
<ul><li>第１の項目</li><li>第２の項目</li></ul> でリストを作成する、こんな感じに！
<div></div>はページ内のセクションを定義

-->